{% extends 'edms/main.html' %}
{% load static %}
{% block title %}Випадки та пропозиції{% endblock %}
{% load render_bundle from webpack_loader %}

{% block second_nav %}{% endblock %}

{% block content %}
{#    {{ user.is_staff|json_script:"params-data" }}#}
    <script>
      {#const is_staff = JSON.parse(document.getElementById('params-data').textContent);#}
    </script>
    <script>
        {#window.pam = {{ pam|safe }};#}
    </script>

    <div class="container-fluid px-3" id="proposals">
      <h4 class="my-4">Реєстр випадків та пропозицій щодо покращення небезпечних умов праці на ТДВ "Перечинський ЛХК"</h4>

      bd:
      <br>-- записати в базу ід департамента з основної посади автора (на випадок якщо посада зміниться, то департмент лишиться)
      <br>-- доступ людям - пошук усіх активних посад і якщо одна з них - підходяща, то доступ є
      <br>-- доступ: адміни, директор, Чобаня (посада?), Артур (посада?), начальник СОП



{#      <div id="bundle">{% render_bundle 'boards' %}</div>#}
    </div>
{% endblock %}