{% extends 'base.html' %}%}
{% load static %}
{% block title %}Випадки та пропозиції{% endblock %}
{% load render_bundle from webpack_loader %}

{% block second_nav %}{% endblock %}

{% block content %}
{#    {{ user.is_staff|json_script:"params-data" }}#}
    <script>
      {#const is_staff = JSON.parse(document.getElementById('params-data').textContent);#}
    </script>
    <script>
        {#window.pam = {{ pam|safe }};#}
    </script>

    <div class="container-fluid px-3" id="proposals">
        <div id="bundle">{% render_bundle 'proposals' %}</div>
    </div>
{% endblock %}