{% extends 'edms/main.html' %}
{% load static %}
{% block title %}Випадки та пропозиції{% endblock %}
{% load render_bundle from webpack_loader %}

{% block second_nav %}{% endblock %}

{% block content %}
{#    {{ user.is_staff|json_script:"params-data" }}#}
    <script>
      {#const is_staff = JSON.parse(document.getElementById('params-data').textContent);#}
    </script>
    <script>
        {#window.pam = {{ pam|safe }};#}
    </script>

    <div class="container-fluid px-3" id="proposals">
      <h4 class="my-4">Реєстр випадків та пропозицій щодо покращення небезпечних умов праці на ТДВ "Перечинський ЛХК"</h4>

      bd:
      <br>- id
      <br>- employee_id
      <br>- employee_department - записати в базу ід департамента з основної посади автора (на випадок якщо посада зміниться, то департмент лишиться)
      <br>- incident_date - date
      <br>- incident - string 5000+
      <br>- proposal - string 5000+
      <br>- proposal_realisation_deadline - date - записується автором або директором/адміном
      <br>- proposal_realisation_responsible_id - визначається автором або директором/адміном (зі списку працівників)
      <br>- responsible_done_mark - позначка відповідального про виконання - ставиться відповідальним
      <br>- author_done_approval_mark - позначка автора/директора про погодження виконання



{#      <div id="bundle">{% render_bundle 'boards' %}</div>#}
    </div>
{% endblock %}