{% extends 'edms/main.html' %}
{% load static %}
{% block title %}Організаційна структура{% endblock %}
{% load render_bundle from webpack_loader %}

{% block second_nav %}{% endblock %}
{% block content %}
    {{ user.userprofile.department.name|json_script:"department_name" }}
    <script>
        const department_name = JSON.parse(document.getElementById('department_name').textContent);
    </script>
    <div class="container-fluid px-3" id="org_structure">
      <div id="bundle">{% render_bundle 'boards' %}</div>
    </div>

{% endblock %}