{% extends 'edms/main.html' %}
{% load static %}
{% block title %}EDMS - Зведені таблиці{% endblock %}
{% load render_bundle from webpack_loader %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
{% endblock %}

{% block content %}
    <div class="container-fluid" id="tables">
        <script>
            window.doc_types = {{ doc_types|safe }};
        </script>
        <div id="bundle">{% render_bundle 'edms' %}</div>
    </div>
{% endblock %}