body {
 /*background-image: url(../img/hoffman_@2X.png);*/
}

.logo {
 font-family: 'Tahoma', cursive;
}

.logo a {
 color: rgba(0, 0, 0, 0.9);
}

.logo a:hover,
.logo a:active {
 text-decoration: none;
}