.z-bigger {
    z-index: 100 !important;
}

[class="checkbox"].checkbox-tools:checked,
[class="checkbox"].checkbox-tools:not(:checked),
[type="radio"].checkbox-tools:checked,
[type="radio"].checkbox-tools:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 10px;
	/*width: 60px;*/
	font-size: 14px;
	/*letter-spacing: 1px;*/
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	color: var(--white);
}
.checkbox-tools:not(:checked) + label{
	background-color: darkgray;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	/*background-image: linear-gradient(298deg, var(--primary), var(--yellow));*/
	/*background: var(--primary);*/
	background: #3eacba;
	z-index: -1;
}