.full_width {
  width: 100%;
}

.css_notification {
  position: fixed;
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
}

.css_main_div {
  margin: auto;
  height: 72%;
  width: 98vw;
  position: absolute;
}

.css_height_100 {
  height: 100%;
}

.css_height_95 {
  height: 95%;
}

.width_40vh {
  width: 40vw;
}

.css_table_font {
  font-size: 0.8rem;
}

.css_dx_table:hover {
  background-color: #f0f0f0;
}

.css_dx_table:focus {
  background-color: #e6e6e6;
}

.css_decree_article {
  border: solid #ebebeb 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 5px;
}

.css_multiline {
  white-space: pre-line;
}

.css_flash_button {
  background: #ff3336;
  color: #fff;

  animation-name: flash;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /*Firefox 1+*/
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  /*Safari 3-4*/
  -moz-animation-name: flash;
  -moz-animation-duration: 1.2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

.css_list_item {
  align-items: start;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  border-color: #2ba749;
  padding: 10px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.css_new_doc_module {
  background: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.css_edms_client_requirement {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
  padding: 10px;
}

.css_calendar_header {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background: #e7eaef;
}

.css_calendar_card {
  background: #eff0f3;
  padding: 3px;
  margin-top: 3px;
}

.css_calendar_article:hover {
  background: #c3f8cf;
}

.css_calendar_article:hover > button {
  background-color: white;
}

.css_calendar_article > button:hover {
  background-color: #28a745;
}

.css_org_structure_item {
  border: 1px solid #e6e9ec;
  padding: 10px;
  width: auto;
}

.css_org_structure_item:hover {
  background-color: #e6e9ec;
}

.css_org_structure_chief {
  border: 1px solid #2a2929;
  background-color: #f0f0f5;
  padding: 10px;
  width: 260px;
}

.css_org_structure_chief:hover {
  background-color: #e6e9ec;
}