.css_os_seat {
  padding: 10px 0 10px 10px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.css_os_seat:hover {
  border-radius: 15px;
  border: 1px solid #3eacba;
}

.css_os_seat_arrow {
  align-self: center;
  font-size: 15px;
  color: #25646d;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

.css_department_regulation {
  border-radius: 15px;
  border: 1px solid #3eacba;
  padding: 5px 10px;
  margin-bottom: 10px;
}