{% extends 'base.html' %}
{% block title %}Телефонний ловідник{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Телефонний довідник</li>
{% endblock %}

{% block content %}
    <table class="table table-sm">
        <thead >
            <tr>
                <th><a href="{% url 'phones' 0 %}" style="text-decoration: none;color:black"> Співробітник</a></th>
                <th><a href="{% url 'phones' 1 %}" style="text-decoration: none;color:black">Основний</a></th>
                <th><a href="{% url 'phones' 2 %}" style="text-decoration: none;color:black">Відділ</a></th>
                <th><a href="{% url 'phones' 3 %}" style="text-decoration: none;color:black">Додатковий</a></th>
                <th><a href="{% url 'phones' 4 %}" style="text-decoration: none;color:black">Зовнішній</a></th>
                <th><a href="{% url 'phones' 5 %}" style="text-decoration: none;color:black">Мобільний</a></th>
            </tr>
        </thead>
        <tbody>
            {% for phone in phones %}
                <tr>
                <td>
                     {{ phone.userprofile.pip }}  <br>
                    </td>
                    <td class="align-middle">{{ phone.userprofile.n_main }}</td>
                    <td class="align-middle">{{ phone.userprofile.n_second|default:"-" }}</td>
                    <td class="align-middle">{{ phone.userprofile.n_mobile|default:"-" }}</td>
                    <td class="align-middle">
                        {% if phone.userprofile.n_out %}
                            {{ phone.userprofile.n_out|slice:"0:1"}}-{{ phone.userprofile.n_out|slice:"1:3" }}-{{ phone.userprofile.n_out|slice:"3:6" }}
                        {% else %}
                            -
                        {% endif %}

                    </td>
                    <td class="align-middle">({{ phone.userprofile.mobile1|slice:"3" }}) {{ phone.userprofile.mobile1|slice:"3:6" }}-{{ phone.userprofile.mobile1|slice:"6:8" }}-{{ phone.userprofile.mobile1|slice:"8:10" }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
