{% extends 'edms/main.html' %}
{% load static %}
{% block title %}Акти невідповідності{% endblock %}
{% load render_bundle from webpack_loader %}

{% block second_nav %}{% endblock %}
{% block content %}
    {{ user.userprofile.department.name|json_script:"department" }}
    {{ user.userprofile.id|json_script:"user" }}
    {{ user.userprofile.pip|json_script:"user_name" }}
    <script>
      window.dep_chief = {{ dep_chief|safe }};
      const department = JSON.parse(document.getElementById('department').textContent);
      const user = JSON.parse(document.getElementById('user').textContent);
      const user_name = JSON.parse(document.getElementById('user_name').textContent);
    </script>
    <div class="container-fluid px-3" id="non_compliances">
      <div id="bundle">{% render_bundle 'boards' %}</div>
    </div>
{% endblock %}