{% extends 'base.html' %}
{% load static %}
{% block title %}Клієнти{% endblock %}
{% load render_bundle from webpack_loader %}

{% block second_nav %}{% endblock %}
{% block content %}
  {{ user.userprofile.department.name|json_script:"department_name" }}
    <script>
        const department_name = JSON.parse(document.getElementById('department_name').textContent);
        window.products_list = {{ products_list|safe }};
        window.edit_access = {{ edit_access|safe }};
    </script>

    <div class="container-fluid px-3" id="clients">
      <div id="bundle">{% render_bundle 'counterparties' %}</div>
    </div>

{% endblock %}