{% extends 'base.html' %}
{% load static %}
{% block title %}PLXK-EDMS{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Відділ кадрів</li>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" style="padding: 10px">
                Користувачі
                    {% verbatim %}  <!-- to let Vue.js use '{{  }}' syntax -->
                    <div id="app">
                      <p>{{ message }}</p>
                    </div>
                    {% endverbatim %}

                <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
                <script>
                    var app = new Vue({
                  el: '#app',
                  data: {
                    message: 'Привет, Vue!'
                  }
                })
                </script>
            </div>
            <div class="col-lg-6" style="padding: 10px">
                <div style="padding: 10px">
                    <p>Відділи:</p>
                </div>
                <div style="padding: 10px">
                    Посади
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>