{% extends 'base.html' %}
{% load static %}
{% block title %}Електронні документи ПЛХК{% endblock %}

{% block content_fluid %}
    <div style="position: sticky !important" >
        {% block second_nav %}
            <div class="breadcrumb my-1 py-0">
                <nav class="navbar navbar-expand-sm navbar-light sticky-top ">
                    <div class="container" >
                        <ul class="navbar-nav">
                            <li class="nav-item {% if request.resolver_match.url_name == "my_docs" %}active{% endif %}">
                                <a class="nav-link" href="{% url 'edms:my_docs' %}">Документи</a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == "archive" %}active{% endif %}">
                                <a class="nav-link" href="{% url 'edms:archive' %}">Архів</a>
                            </li>
{#                            <li class="nav-item {% if request.resolver_match.url_name == "sub_docs" %}active{% endif %}">#}
{#                              <a class="nav-link" href="{% url 'edms:sub_docs' %}">Документи підлеглих</a>#}
{#                            </li>#}
                            <li class="nav-item {% if request.resolver_match.url_name == "delegated" %}active{% endif %}">
                              <a class="nav-link" href="{% url 'edms:delegated' %}">Делеговані документи</a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == "tables" %}active{% endif %}">
                                <a class="nav-link" href="{% url 'edms:tables'  %}">Зведені таблиці</a>
                            </li>
                          </ul>
                  </div>
                </nav>
            </div>
        {% endblock %}
    </div>

    {% block content %}

    {% endblock %}

{% endblock %}

