.full_width {
    width: 100%;
}

.css_notification {
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
}

.css_height {
    height: 80%;
    width: 98vw;
    position: absolute;
}