{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ПЛХК{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/snow.css' %}">
  {% block stylesheet %}  {% endblock %}
 {% block script %}  {% endblock %}
</head>
<body>
{% block body %}
 {% block nav_panel %}
 <nav class="navbar navbar-expand-sm navbar-dark sticky-top " style="padding-top: 2px; padding-bottom: 1px; background-color: #3eacba">
    <div class="container" >

        <a class="navbar-brand" href="{% url 'home' %}"> <img alt="" src="{% static 'img/logo.png' %}" height="48px"> </a>
          <ul class="navbar-nav">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Загальні</a>
                    <div class="dropdown-menu">
                        {% if user.userprofile.is_it_admin or user.userprofile.is_hr   %}
                            <a class="dropdown-item" href="{% url 'boards:edit_ads' %}">Редагування оголошень</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'boards:plhk_ads' %}" target="_blank">Оголошення</a>
{#                        <a class="dropdown-item" href="{% url 'boards:org_structure' %}">Організаційна структура</a>#}
{#                        <a class="dropdown-item" href="{% url 'menu' %}" target="_blank">Меню столової</a>#}
{#                        <a class="dropdown-item" href="{% url 'phones' 0 %}">Телефонний довідник</a>#}
{#                        <a class="dropdown-item" href="{% url 'polls:index' %}">Опитування</a>#}
{#                        <a class="dropdown-item" href="{% url 'tickets:index_f' 0 %}">Заявки ІТ</a>#}
{#                        <a class="dropdown-item" href="{% url 'gi:news' %}">Новини</a>#}
                    </div>
             </li>
{#             <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'boards:index' %}">Форум</a>#}
{#             </li>#}

{#              Вагова система не працює після оновлення django - не працює підключення до firebird#}
{#             <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="{% url 'crm:index' %}" id="navbardrop" data-toggle="dropdown">CRM</a>#}
{#                    <div class="dropdown-menu">#}
{#                        <a class="dropdown-item" href="{% url 'crm:index' %}">Вагова система</a>#}
{#                        {% if user.userprofile.is_graph %}<a class="dropdown-item" href="{% url 'crm:graph_scales' %}">Діаграми</a>{% endif %}#}
{#                        <a class="dropdown-item" href="{% url 'departments' %}">Підрозділи</a>#}
{#                       {% if user.userprofile.is_it_admin %}<a class="dropdown-item" href="{% url 'crm:employee' 4 %}">Співробітники</a>{% endif %}#}
{#                    </div>#}
{#             </li>#}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'docs:index' %} " id="navbardrop" data-toggle="dropdown">Документи</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'docs:orders' %}">Накази та розпорядження</a>
                        <a class="dropdown-item" href="{% url 'docs:contracts' %}">Договори</a>
                        <a class="dropdown-item" href="{% url 'docs:index' %}">Система якості</a>
                        <a class="dropdown-item" href="{% url 'correspondence:index' %}">Листування з клієнтами</a>
{#                        <a class="dropdown-item" href="#">Погоджені макети</a>#}
                        <a class="dropdown-item" href="{% url 'edms:my_docs' %}">Електронні документи</a>
                    </div>
             </li>
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Довідники</a>
                        <div class="dropdown-menu">
                          {% if user.userprofile.is_it_admin or user.userprofile.clients_add   %}
                            <a class="dropdown-item" href="{% url 'production:clients' %}">Клієнти</a>
                          {% endif %}
                          {% if user.userprofile.is_it_admin or user.userprofile.mockup_type_add   %}
                            <a class="dropdown-item" href="{% url 'production:mockup_types' %}">Типи дизайн-макетів</a>
                          {% endif %}
                        {% if user.userprofile.is_it_admin or user.userprofile.mockup_product_type_add   %}
                            <a class="dropdown-item" href="{% url 'production:mockup_product_types' %}">Типи продукції для дизайн-макетів</a>
                          {% endif %}
                        </div>
               </li>
          </ul>

<div class="collapse navbar-collapse" id="mainMenu">
      {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {% if user.userprofile.avatar %}
              <img src="{{ user.userprofile.avatar.url }}" style="height: 44px" class="rounded-circle">
             {% endif %}

                {{ user.first_name}} {{ user.last_name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
{#              <a class="dropdown-item" href="#">Мій аккаунт</a>#}
              <a class="dropdown-item" href="{% url 'edms:hr' %}">Відділ кадрів</a>
            {% if user.userprofile.is_it_admin  %}
              <a class="dropdown-item" href="{% url 'admin:index' %}"> Адмінка</a>
            {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Вихід</a>
            </div>
          </li>
        </ul>
      {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'login' %}" class="btn btn-outline-dark">Вхід</a>
{#          <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Реєстрація</a>#}
        </form>
      {% endif %}
</div>

  </div>

</nav>
 {% endblock %}
  {% block snow %}
    <div class="snowflakes" aria-hidden="true">
      <div class="snowflake">
      ❅
      </div>
      <div class="snowflake">
      ❅
      </div>
      <div class="snowflake">
      ❆
      </div>
      <div class="snowflake">
      ❄
      </div>
      <div class="snowflake">
      ❅
      </div>
      <div class="snowflake">
      ❆
      </div>
      <div class="snowflake">
      ❄
      </div>
      <div class="snowflake">
      ❅
      </div>
      <div class="snowflake">
      ❆
      </div>
      <div class="snowflake">
      ❄
      </div>
    </div>
  {% endblock %}

{% block content_fluid %}

 <div class="container">
    {% block second_nav %}
        <ol class="breadcrumb my-4">
            {% block breadcrumb  %}

            {% endblock %}
        </ol>
    {% endblock %}
    {% block content %}

    {% endblock %}
    </div>
{% endblock  %}
{% endblock %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>