{% extends 'base.html' %}
{% load static %}
{% load googlecharts %}

{% block script %}
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChartWood);
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'vaga');
        data.addColumn('number', 'ct');
        data.addRows([
     {% for r1, r2 in raw %}

     ['{{ r1 }}', {{ r2 }}],
     {% endfor %}

        ]);
        var options = {'title':'Кількість зважувань по видах сировини',
                       'width':700,
                       'height':500,
                       sliceVisibilityThreshold: .01
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);


      }
      function drawChartWood() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'd');
        data.addColumn('number', 'FSC');
        data.addColumn('number', 'not FSC');
        data.addRows([
     {% for d, r1, r2 in wood %}

     ['{{ d|date:"d.m.Y" }}', {{ r1 }},{{ r2 }}],
     {% endfor %}

        ]);

         var options = {
          'title':'Поступлення деревини',
        width: 1200,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true,
      };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_wood'));
        chart.draw(data, options);


      }

 </script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><h5>Графіки</h5></li>
{% endblock %}

{% block content %}
<div id="chart_div"></div>
<div id="chart_div_wood"></div>



{% endblock %}