{% extends 'base.html' %}
{% load static %}
{% load googlecharts %}
{% block title %}
    Графіки. Деревина.
{% endblock %}

{% block script %}
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartWood1);
       google.charts.setOnLoadCallback(drawChartWood2);
       google.charts.setOnLoadCallback(drawChartWood3);
       google.charts.setOnLoadCallback(drawChartWood11);
     function drawChartWood1() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'd');
        data.addColumn('number', 'FSC сировина');
        data.addColumn('number', 'Не FSC сировина');
        data.addRows([
     {% for d, r1, r2 in wood1 %}
     ['{{ d|date:"d.m"}}', {{ r1 }},{{ r2 }} ],
     {% endfor %}
        ]);

         var options = {
         'title':'Поступлення FSC сировини (за 30 днів)',
        width: '100%',
        height: 240,

        bar: { groupWidth: '75%' },
        isStacked: true,
      };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_wood1'));
        chart.draw(data, options);
      }
     function drawChartWood2() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'd');
        data.addColumn('number', 'FSC сировина');
        data.addColumn('number', 'Не FSC сировина');
        data.addRows([
     {% for d, r1, r2 in wood2 %}
     ['{{ d }}', {{ r1 }},{{ r2 }} ],
     {% endfor %}
        ]);
         var options = {
          'title':'Основні постачальники деревини за 365 днів',
        width: '100%',
        height: 700,
       legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true,
      };
        var chart = new google.visualization.BarChart(document.getElementById('chart_div_wood2'));
        chart.draw(data, options);
      }
     function drawChartWood3() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'd');
        data.addColumn('number', '2013');
        data.addColumn('number', '2014');
        data.addColumn('number', '2015');
        data.addColumn('number', '2016');
                data.addColumn('number', '2017');
                data.addColumn('number', '2018');
        data.addRows([
     {% for d, r1, r2, r3, r4, r5, r6 in wood3 %}
     ['{{ d }}', {{ r1 }},{{ r2 }}, {{ r3 }}, {{ r4 }}, {{ r5 }}, {{ r6 }} ],
     {% endfor %}
        ]);
         var options = {
          'title':'Поступлення по місяцях в порівнянні з минулими роками',
        width: '100%',
        height: 240,

      };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_wood3'));
        chart.draw(data, options);
      }
     function drawChartWood11() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'd');
        data.addColumn('number', 'Авто');
        data.addColumn('number', 'Вагон');
        data.addRows([
     {% for d, r1, r2, r3, r4 in wood1 %}
     ['{{ d|date:"d.m"}}', {{ r3 }},{{ r4 }} ],
     {% endfor %}
        ]);

         var options = {
             'title':'Поступлення деревини в розрізі видів транспорту(за 30 днів)',
        width: '100%',
        height: 240,

        bar: { groupWidth: '75%' },
        isStacked: true,
             colors: [ 'green', 'orange']
      };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_wood11'));
        chart.draw(data, options);
      }
 </script>
{% endblock %}

{% block second_nav %}
        <div class="container-fluid" style="padding: 10px">
        <button type="button" class="btn btn-outline-success disabled btn-sm">Графіки</button>

            <div class="btn-group float-md-right">
                <a href="{% url 'crm:graph_scales' %}" style="text-decoration: none;color:black"class=" btn btn-outline-info btn-sm">Вага</a>
               {% if user.userprofile.is_wood  %} <a href="{% url 'crm:graph_woods' %}" style="text-decoration: none;color:black"class=" btn btn-info btn-sm">Деревина</a>{% endif %}
               {% if user.userprofile.is_coal  %} <a href="{% url 'crm:graph_coals' %}" style="text-decoration: none;color:black"class=" btn btn-outline-info btn-sm">Вугілля</a>{% endif %}

            </div>
        </div>
{% endblock %}

{% block content %}

    <div id="chart_div_wood1" class="container-fluid"></div>

    <div id="chart_div_wood11" class="container-fluid"></div>

    <div id="chart_div_wood3" class="container-fluid"></div>

    <div id="chart_div_wood2" class="container-fluid"></div>


{% endblock %}