{% extends 'base.html' %}
{% load static %}
{% load googlecharts %}

{% block script %}
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartVaga2);
      function drawChartWood1() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'd');
        data.addColumn('number', 'FSC сировина');
        data.addColumn('number', 'Не FSC сировина');
        data.addRows([
     {% for d, r1, r2 in wood1 %}

     ['{{ d|date:"d.m" }}', {{ r1 }},{{ r2 }} ],
     {% endfor %}

        ]);

         var options = {
          'title':'Поступлення сировини',
        width: '100%',
        height: '100%',
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true,
      };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_wood1'));
        chart.draw(data, options);


      }

 </script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><h5>Графіки</h5></li>
{% endblock %}

{% block second_nav %}
        <div class="container-fluid" style="padding: 10px">
        <button type="button" class="btn btn-outline-success disabled">Графіки</button>

            <div class="btn-group float-md-right">
                <a href="{% url 'crm:graph_scales' %}" style="text-decoration: none;color:black"class=" btn btn-info-info">Вага</a>
             {% if user.userprofile.is_wood  %}<a href="{% url 'crm:graph_woods' %}" style="text-decoration: none;color:black"class=" btn btn-outline">Деревина</a>{% endif %}


            </div>
        </div>
{% endblock %}

{% block content %}

 <div id="chart_div_wood1" class="container-fluid"></div>




{% endblock %}