{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}PLXK-EDMS{% endblock %}


{% block content_fluid %}
    <ol class="breadcrumb mt-4">
         <li class="breadcrumb-item active">Відділ кадрів</li>
    </ol>

    <!-- HR page -->
    <div class="container-fluid px-3" pt-3>
        <div class="row">
            <div class="col-lg-4" style="padding: 10px">
                <button type="button" class="btn btn-outline-secondary mb-1" data-toggle="modal" data-target="#modalNewEmployee">Додати співробітника</button>
                <div id="user_table"></div>
                <script>
                    window.emps = {{ emps|safe }};
                    window.react_mount = document.getElementById('user_table');
                </script>
            </div>
            <div class="col-lg-4" style="padding: 10px">
                <button type="button" class="btn btn-outline-secondary mb-1" data-toggle="modal" data-target="#modalNewDepartment" id="button_new_dep">Додати відділ</button>
                <div id="dep_table"></div>
                <script>
                    window.deps = {{ deps|safe }};
                    window.react_mount = document.getElementById('dep_table');
                </script>
            </div>
            <div class="col-lg-4" style="padding: 10px">
                <button type="button" class="btn btn-outline-secondary mb-1" data-toggle="modal" data-target="#modalNewSeat">Додати посаду</button>
                <div id="seats_table"></div>
                <script>
                    window.seats = {{ seats|safe }};
                    window.react_mount = document.getElementById('seats_table');
                </script>
            </div>
        </div>
    </div>


    <!-- Modal page for adding new employee -->
    <div class="container">
      <div class="modal fade" id="modalNewEmployee">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Додати</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div id="new_user_profile"></div>
                <script>
                    window.new_users = {{ new_users|safe }};
                    window.react_mount = document.getElementById('new_user_profile');
                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- Modal page for adding new department -->
    <div class="container">
      <div class="modal fade" id="modalNewDepartment">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Новий відділ</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- Form -->
{#                <form method="POST" class="post-form">#}
{#                    {% csrf_token %}#}
{#                    {{ new_dep_form.as_p }}#}
{#                    <button type="submit" class="save btn btn-default" name="new_dep">Додати</button>#}
{#                </form>#}
                <div id="new_dep"></div>
                <script>
                    window.react_mount = document.getElementById('new_dep_form');
                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- Modal page for adding new seat -->
    <div class="container">
      <div class="modal fade" id="modalNewSeat">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Додати</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
{#              <form method="POST" class="post-form">#}
{#                  {% csrf_token %}#}
{#                  {{ new_seat_form.as_p }}#}
{#                  <button type="submit" class="save btn btn-default" name="new_seat">Додати</button>#}
{#              </form>#}
                <div id="new_seat"></div>
                <script>
                    window.react_mount = document.getElementById('new_seat_form');
                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
            </div>

          </div>
        </div>
      </div>
    </div>

{#    <div id="new_user_modal"></div>#}


    {% render_bundle 'main' %} <!-- Renders js files -->
{% endblock %}