{% extends 'edms/main.html' %}
{% load static %}
{% block title %}EDMS - Відділ кадрів{% endblock %}
{% load render_bundle from webpack_loader %}

{% block content %}
    <script>
        window.emps = {{ emps|safe }};
        window.emps_seats = {{ emps_seats|safe }};
        window.deps = {{ deps|safe }};
        window.seats = {{ seats|safe }};
    </script>

    <!-- HR page -->
    <div class="container-fluid px-3">
        <!-- Кнопки -->
        <div class="row">
            <div class="col-lg-4">
                Співробітники:
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-outline-secondary mb-1" data-toggle="modal" data-target="#modalNewDepartment" id="button_new_dep">Додати відділ</button>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary mb-1" data-toggle="modal" data-target="#modalNewSeat">Додати посаду</button>
                    </div>
                    <div class="col">
                        <div>Посади без працівників виділяються червоним</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Таблиці -->
        <div class="row">
            <div class="col-lg-4" style="padding: 10px">
                <div id="user_table"></div>
            </div>
            <div class="col-lg-4" style="padding: 10px">

                <div id="dep_table"></div>
            </div>
            <div class="col-lg-4" style="padding: 10px">

                <div id="seats_table"></div>
            </div>
        </div>
    </div>

    <!-- Modal page for adding new department -->
    <div class="container">
      <div class="modal fade" id="modalNewDepartment">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Новий відділ</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- Form -->
{#                <form method="POST" class="post-form">#}
{#                    {% csrf_token %}#}
{#                    {{ new_dep_form.as_p }}#}
{#                    <button type="submit" class="save btn btn-default" name="new_dep">Додати</button>#}
{#                </form>#}
                <div id="new_dep"></div>
{#                <script>#}
{#                    window.react_mount = document.getElementById('new_dep');#}
{#                </script>#}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- Modal page for adding new seat -->
    <div class="container">
      <div class="modal fade" id="modalNewSeat">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Додати</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
{#              <form method="POST" class="post-form">#}
{#                  {% csrf_token %}#}
{#                  {{ new_seat_form.as_p }}#}
{#                  <button type="submit" class="save btn btn-default" name="new_seat">Додати</button>#}
{#              </form>#}
                <div id="new_seat"></div>
{#                <script>#}
{#                    window.react_mount = document.getElementById('new_seat');#}
{#                </script>#}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    {% render_bundle 'hr' %} <!-- Renders js files -->

{% endblock %}