{% extends 'base.html' %}
{% load static %}
{% block title %}Ставки{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><h5>Ставки</h5></li>
{% endblock %}
{% block second_nav %}
        <div class="container-fluid" style="padding: 10px">
            <div class="btn-group float-md-right">
{#                <a href="{% url 'bets:teams'  %}" style="text-decoration: none;color:black"class="btn btn-sm btn-outline-info ">Команди</a>#}
{#                <a href="{% url 'bets:matches' %}" style="text-decoration: none;color:black"class="btn  btn-sm  btn-outline-info">Матчі</a>#}
{#                <a href="{% url 'bets:bets' %}" style="text-decoration: none;color:black"class="btn btn-sm  btn-outline-info">Ставки</a>#}
                <a href="{% url 'bets:results' %}" style="text-decoration: none;color:black"class="btn btn-sm  btn-outline-info">Результати</a>
                <a href="{% url 'bets:rate_results' %}" style="text-decoration: none;color:black"class="btn btn-sm  btn-info">Кантора</a>
            </div>
        </div>
{% endblock %}

{% block content %}

{% endblock %}