{% extends 'base.html' %}


{% block title %}Нова ставка{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'bets:matches' %}">Матчі</a></li>
  <li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
      <div class="p-2 m-2 " >
<span style="font-size: xx-large; align-content: center" >
        <img style="max-height: 100px; width: auto" src={{ match.team1.logo.url }} >
        {{ match.team1.name }}
         <input type="text" class="" style="width: 50px; text-align: center " id="team1_bet" name="team1_bet" value="{{ bet.team1_bet }}">
          :
         <img style="max-height: 100px; width: auto" src={{ match.team2.logo.url }} >
       {{ match.team2.name }}
         <input type="text" class="" style="width: 50px; text-align: center" id="team2_bet" name="team2_bet" value="{{ bet.team2_bet }}">

</span>
      </div>


    <button type="submit" class="btn btn-success">Зберегти</button>
  </form>
{% endblock %}